<div class="login">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="login-container">
      <div class="login-body">
        <div class="login-forms">
          <div>
            <div class="input-icon">
              <img alt="input icon" src="../../../../assets/login-user.svg">
            </div>
            <mat-form-field class="input-form">
              <input matInput class="input-form-email" placeholder="Emri i përdoruesit" formControlName="username">
            </mat-form-field>
          </div>
          <div>
            <div class="input-icon">
              <img alt="input icon" src="../../../../assets/password-icon.svg">
            </div>
            <mat-form-field class="input-form">
              <input matInput type="password" class="input-form-password" placeholder="Fjalëkalim" formControlName="password">
            </mat-form-field>
          </div>
        </div>
        <div class="login-button">
          <button mat-button type="submit">Identifikohu</button>
        </div>

      </div>
    </div>

  </form>
</div>

