<div class="dialog-confirm-content">
  <h2 class="border-bottom">Fshi</h2>
  <p class="message">{{message}}</p>
  <div class="actions">
    <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-around center" fxLayoutGap="30px">
      <button fxFlex mat-raised-button color="accent" mat-dialog-close>JO</button>
      <button fxFlex mat-raised-button color="primary" [mat-dialog-close]="true">PO</button>
    </div>
  </div>
</div>
