.dialog-confirm-content {
  padding: 10px;

  & .border-bottom {
    border-bottom: 1px solid #ccc;
  }

  & .border-top {
    border-top: 1px solid #ccc;
  }

  & .message {
    margin: 35px 0;
  }

  & .actions {
    text-align: right;
    padding: 10px 0;

    & button:first-child {
      margin-right: 10px;
    }
  }
}
