<app-loader type="progressBar"></app-loader>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer mode="side" class="sc-sidenav-drawer" opened>
    <div class="sc-sidenav-header">
      <div class="logo">
        <span (click)="drawer.toggle()" *ngIf="drawer.opened" class="hide-sidenav">
          <mat-icon style="color: white;line-height: 1.9">arrow_back</mat-icon>
        </span>
      </div>
    </div>
    <div id="nav-parent" class="sc-sidenav-items">

      <a href="" class="pointer-blank">
        <div class="sc-sidenav-item has-sub-menu">
          <mat-icon>settings</mat-icon>
          <span mat-card-avatar class="item-title">
            Biletat
            <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
          </span>
        </div>
        <div class="sub">
          <div class="sub-menu" *ngFor="let url of TICKET_URLS">
            <a [routerLink]="[url.routerLink]" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}" *ngxPermissionsOnly="url.permission_name">
              <div class="sub-menu-item">
              <span mat-card-avatar class="sub-menu-item-title">
                {{url.name}}
              </span>
              </div>
            </a>
          </div>
        </div>
      </a>

    </div>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="drawer.toggle()" *ngIf="!drawer.opened" class="menu-trigger">
        <mat-icon>view_headline</mat-icon>
      </button>
      <button mat-icon-button (click)="drawer.toggle()" *ngIf="drawer.opened" class="menu-trigger">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <!--      <span *ngIf="!drawer.opened">{{hasTitle ? title : 'Microfin Core'}}</span>-->
      <span class="fill-remaining-space"></span>
      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <span mat-menu-item style="pointer-events: none;">{{username}}</span>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Dil</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="app-container">
      <router-outlet (activate)="currentComponent = $event"></router-outlet>
      <!--      <app-loader></app-loader>-->
    </div>
  </div>
</mat-drawer-container>
