@import "../../../../../sc-pallets";
@import "../../../../../sc-colors";
@import '~@angular/material/theming';

$sc-theme-primary: mat-palette($sc-primary);
$sc-theme-secondary: mat-palette($sc-secondary);



.sidenav-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #E7EBF1;
}

.sidenav-content {
  width: 100%;
  height: 100%;
}

.toolbar {
  position: relative;
  background: #004f9f;
  color: #f7941d;

  & ::ng-deep .mat-select-trigger {
    color: white;
  }

  & .menu-trigger {
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
  }
}
::ng-deep.mat-drawer-inner-container{
  overflow: unset !important;
}

.sc-sidenav-drawer {
  background: white;
  overflow-y: unset !important;
  & .sc-sidenav-header {
    //border-bottom: 1px solid rgba(255, 255, 255, .08);
    min-height: 80px;
    //background-image: url("../../assets/images/sidebar-header.svg");
    //background-repeat: no-repeat;
    //background-size: 100% 100%;
    //background-color: #023858;

    & .logo {
      padding: 10px 16px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      //border-bottom: 1px solid rgba(255, 255, 255, 0.08);

      & img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }

      & a {
        text-decoration: none;
      }

      & span {
        font-family: sans-serif;
        font-weight: bold;
        color: rgb(0, 82, 156);
      }

      & .hide-sidenav {
        float: right;
        overflow: hidden;
        cursor: pointer;
        margin: 0 10px 0 0;
      }

    }

    & .user-info {
      padding: 15px 15px;
      color: white;
      position: relative;

      & p {
        margin: 0 0 6px 0;
      }

      & a {
        text-decoration: none;
      }

      & span a {
        color: white;

        &:hover {
          color: mat-color($sc-theme-secondary);
        }
      }

      & .change-password {
        display: block;
        //position: absolute;
        //right: 10px;
        //bottom: 5px;
      }

    }
  }

  & .sc-sidenav-items {
    width: 250px;

    & a {
      text-decoration: none;
      position: relative;
      width: 100%;
      display: block;
      &.active {
        & .sc-sidenav-item {
          & .item-title {
            color: #5469d4;
          }
        }
      }
    }


    & .sub{
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(100% , 10px);
      z-index: 3;
      background-color: white;
      padding: 10px;
      opacity: 0;
      pointer-events: none;
      transition: .2s;
      border-left: 1px solid #004f9f;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      & .sub-menu {
        & a{
          text-decoration: none;
          padding: 10px 0;

        }
        & .sub-menu-item-title {
          color: rgb(26, 31, 54);
          font-size: 11pt;
          font-family: Roboto, "Helvetica Neue", sans-serif;
          transition: .4s;
        }
      }
    }

    & .sc-sidenav-item {
      padding: 0 16px 18px 16px;
      border-bottom: 1px solid rgba(255, 255, 255, .08);
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      & a {
        text-decoration: none;
        color: rgb(26, 31, 54);
      }
      & a:hover {
        text-decoration: none;
        color: #5469d4;
        transition: .1s;
      }
      & .mat-icon {
        width: 18px;
        height: 18px;
        padding: 0 12px 8px 0;
        color: rgb(26, 31, 54);
      }

      & .arrow {
        position: absolute;
        right: 25px;
        width: 18px;
        height: 18px;
        color: rgb(26, 31, 54);
      }

      & .item-title {
        color: rgb(26, 31, 54);
        font-size: 11pt;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        transition: .4s;
      }

    }
    & .sc-sidenav-item:hover  {
      & .mat-icon{
        color: #5469d4;
        transition: .1s;
      }
      & .arrow{
        color: #5469d4;
        transition: .1s;

      }
      & .item-title{
        color: #5469d4;
        transition: .1s;

      }
    }
  }

}
