.list-filter-toolbar {
  background: white;
}

.input-file-label {
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.unique-select {
  border: 2px solid red;
  background-color: red;
}

.contacts-content {
  background: none;

  & .contacts-content__head {
    background: whitesmoke;
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
  }

  & .contacts-content__body {
    border-bottom: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
  }

  & .contact__single {
    box-shadow: none;

    & .contact__single__card {
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

      & .contact__single__fields {
        padding: 13px;

        & mat-form-field {
          width: 100%;
        }
      }


    }

  }
}

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

.ticket-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: calc(100% + 48px);
  position: relative;
  left: -24px;

  & thead {
    & tr {
      background-color: rgba(0, 0, 0, .02);
      color: rgba(0, 0, 0, 0.54);
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      border-top: 1px solid rgba(0, 0, 0, 0.12);

      & th {
        font-weight: normal;
        padding: 8px;
      }
    }
  }

  & tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    & td {
      padding: 10px;

      & .requires-serial-number {
        float: left;
        position: relative;
        left: 20px;

        & span {
          display: block;
          font-size: 10pt;
          margin-bottom: 5px;
          color: rgba(0, 0, 0, 0.54);
        }

        & input {
          font-size: 12pt;
          text-indent: 4px;
          width: 125px;
        }
      }
    }

    & .amount {
      border: 1px solid rgba(0, 0, 0, 0.54);
      width: 100%;
      text-indent: 5px;

      &:disabled {
        background: white;
        border: none;
      }
    }
  }

}

.ticket-footer {
  display: flex;
  justify-content: flex-end;
  background: white;

  & .add-btn {
    margin-left: 10px;
    color: white;
    background-color: #1e70bf;
  }
}

ng-select {
  width: 150px !important;
  max-width: 150px !important;

  option {
    width: 150px !important;
  }
}

::ng-deep .mat-slide-toggle-label {
  justify-content: center;
}

::ng-deep .mat-form-field-infix {
  width: 100% !important;
}

::ng-deep ng-dropdown-panel {
  width: 300px !important;
}
