  <form  class="wrapper" [formGroup]="ticketForm" (ngSubmit)="saveTicket()" >

    <div [fxLayout]="'row'" [fxLayout.sm]="'column'" [fxLayoutGap]="'10px'" style="margin: 0 auto;padding: 24px;background-color: white;"
         [fxLayoutAlign]="'space-between center'">
      <mat-form-field fxFlex>
        <label for="inbound">
          <input matInput id="inbound" placeholder="Aeroporti i nisjes" fxFlex formControlName="inbound" required/>
        </label>
        <mat-error *ngIf="ticketForm.controls['inbound'].hasError('server_error')">
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <label for="outbound">
          <input matInput id="outbound" placeholder="Aeroporti i mbërritjes" fxFlex formControlName="outbound" required/>
        </label>
        <mat-error *ngIf="ticketForm.controls['outbound'].hasError('server_error')">
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
        <label for="ticket_type">
          <input matInput id="ticket_type" placeholder="Tipi i biletës" fxFlex formControlName="ticket_type" required/>
        </label>
        <mat-error *ngIf="ticketForm.controls['ticket_type'].hasError('server_error')">
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
        <label for="price">
          <input matInput id="price" type="number" placeholder="Çmimi" fxFlex formControlName="price" required/>
        </label>
        <mat-error *ngIf="ticketForm.controls['price'].hasError('server_error')">
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput [matDatepicker]="fromPicker" placeholder="Data e nisjes" formControlName="from_date" required/>
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
        <mat-error *ngIf="ticketForm.controls['from_date'].hasError('server_error')">
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput [matDatepicker]="toPicker" placeholder="Data e mbërritjes" formControlName="to_date" required/>
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
        <mat-error *ngIf="ticketForm.controls['to_date'].hasError('server_error')">
        </mat-error>
      </mat-form-field>
      <!-- Phone -->
      <mat-form-field fxFlex>
        <label for="seat_number">
          <input matInput id="seat_number" placeholder="Vëndi ne aeroplan" fxFlex formControlName="seat_number" required/>
        </label>
        <mat-error *ngIf="ticketForm.controls['seat_number'].hasError('server_error')">
        </mat-error>
      </mat-form-field>
    </div>

    <div class="ticket-footer">
      <button mat-stroked-button type="button" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Anullo
      </button>
      <button mat-stroked-button class="add-btn" id="add-btn" type="submit">
        <mat-icon>save</mat-icon>
        Ruaj
      </button>
    </div>
  </form>

