
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/theming";
@import "sc-pallets";
@import "sc-colors";

@include mat-core();

$sc-theme-primary: mat-palette($sc-primary);
$sc-theme-secondary: mat-palette($sc-secondary);
$sc-theme: mat-light-theme($sc-theme-primary, $sc-theme-secondary);

@include angular-material-theme($sc-theme);

body {
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

h1, h2, h2, h4, h5, p {
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

table {
  font-family: Roboto;
}

table tfoot tr td {
  padding: 25px 0;
}

.sc-mat-toolbar-spacer {
  flex: 1 1 auto;
}

.mat-drawer-side {
  border-right: none;
}

.text-center {
  text-align: center;
}

.center-form-960 {
  margin: auto;
  max-width: 960px;
}

.center-form-500 {
  margin: auto;
  max-width: 500px;
}


.center-form-600 {
  margin: auto;
  max-width: 600px;
}

.center-form-700 {
  margin: auto;
  max-width: 700px;
}

.center-form-800 {
  margin: auto;
  max-width: 800px;
}

.sc.container {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}

.sc.container:before, .sc.container:after {
  content: "";
  display: table-row;
}

.mat-badge-content {
  font-weight: 600;
  font-size: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-btn-sm {
  line-height: 2 !important;
  padding: 0 20px 0 15px !important;

  & mat-icon {
    line-height: 23px;
    font-size: 13pt;
  }
}

.margin-0 {
  margin: 0 !important;
}

.width-percentage-100 {
  width: 100%;
}

.input-file-label {
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
  line-height: 2;
}

.light-grey {
  background: $light-grey;
}

.configurations-add-btn-action {
  //box-shadow: none !important;
  box-shadow: 0 1.5px 2.5px -1px rgba(0, 0, 0, 0.2), 0px 1.5px 2.5px 0px rgba(0, 0, 0, 0.14), 0px 1px 9px 0px rgba(0, 0, 0, 0.12) !important;
  background-color: $green !important;

  &:hover {
    background: $blue-hover;
  }

  &:active {
    background: $green-hover;
  }

}

// Login

.login-template {
  background: mat-color($sc-theme-primary, 400);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.fill-remaining-space {
  flex: 1 1 auto;
}


.app-container {
  padding: 16px;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

// Detail table
table.detail tbody tr td, table.detail thead tr th {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 24px;
}


.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  & mat-icon {
    margin-right: 5px;
  }

  &:hover {

  }
}

.update-btn {
  background: $blue;

  &:hover {
    background: $blue-hover;
  }
}

.color-red {
  color: $red;
}

.delete-btn {
  background: $red;
  color: white;

  &:hover {
    background: $red-hover;
  }
}

// Buttons in table
.add-btn-table {
  & mat-icon {
    color: $green;
  }
}

.update-btn-table {
  & mat-icon {
    color: $blue;
  }
}

.delete-btn-table {
  & mat-icon {
    color: $red;
  }
}

.finalise-btn-table {
  & mat-icon {
    color: $green;
  }
}

.refuse-btn-table {
  & mat-icon {
    color: $red;
  }
}

.green-btn-table {
  & mat-icon {
    color: $green;
  }
}

.blue-btn-table {
  & mat-icon {
    color: $blue;
  }
}

.red-btn-table {
  & mat-icon {
    color: $red;
  }
}


.sc-sidenav {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sc-sidenav-header {
    border-bottom: 1px solid rgba(255, 255, 255, .08);

    & .logo {
      padding: 15px;

      & a {
        text-decoration: none;
      }

      & span {
        color: white;
        font-size: 18px;
        position: relative;
        bottom: 7px;
        left: 12px;
        font-family: Roboto, sans-serif;
      }

    }
  }

  & .sc-sidenav-content {
    background: mat-color($sc-theme-primary);

    & .sc-sidenav-items {
      width: 250px;

      & a {
        text-decoration: none;

        &:hover {
          & .sc-sidenav-item {
            background: rgba(255, 255, 255, .08);
          }
        }

        &.active {
          & .sc-sidenav-item {
            & .item-title {
              color: mat-color($sc-theme-secondary, 500);
            }
          }
        }

      }

      & .sc-sidenav-item {
        padding: 8px 16px;
        border-bottom: 1px solid rgba(255, 255, 255, .08);

        & .item-title {
          color: white;
          font-size: 12pt;
          font-family: Roboto, sans-serif;
        }
      }
    }
  }
}


.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1em !important;
}

.mat-form-field-wrapper {
  width: 100%;
}

.margin-top {
  margin-top: 20px;
}

.data-table__radius-container {
  overflow: hidden;
  //border-radius: 8px;
}

.data-table__container {
  padding: 13px;
  background: white;

  & .data-table {
    > thead tr {
      & th {
        border-top: 1px solid #ccc;
        background: #EDF1F4;
        font-weight: bold;
        color: black;
        font-family: "Arial", sans-serif;

        &:first-child {
          border-top-left-radius: 2px;
          border-top: 1px solid #ccc;
          border-left: 1px solid #ccc;
        }

        &:last-child {
          border-top-right-radius: 2px;
          border-top: 1px solid #ccc;
          border-right: 1px solid #ccc;
        }
      }
    }

    > tbody tr {
      cursor: pointer;

      &:last-child {
        & td {
          border-bottom: 1px solid #ccc;
        }
      }

      & td:first-child {
        border-left: 1px solid #ccc;
      }

      & td:last-child {
        border-right: 1px solid #ccc;
      }

      &:hover {
        background: #EDF1F4;
      }

    }
  }
}


.sc-mat-paginator {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #EDF1F4;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.detail-component .mat-dialog-container {
  padding: 0 !important;
  background: #fafafa;
}

.table-no-data {
  padding: 18px 10px;
  background: white;
  color: rgba(0, 0, 0, 0.54);
  font-size: 11pt;
}

.data-table {
  width: 100%;

  & .column-icon {
    width: 64px;
    height: 64px;
    position: relative;
    left: -12px;
  }

  & img {
    width: 80px;
    height: 80px;
    padding: 8px 0;
  }

}

.filter {
  display: block;
}


.list-title {
  position: relative;
  padding: 0 8px 0 0;
  margin: 0 8px 0 0;
  font-size: 15px;
}

.list-filter-form {
  font-size: 11pt;

  & button {
    line-height: 24px;
    padding: 0 10px 0 0;
  }

  & mat-icon {
    font-size: 13pt;
    line-height: 24px;
  }

}

.margin-bottom {
  margin-bottom: 20px;
}

//@media (min-width: 1280px) and (max-width: 1400px) {
//  input.mat-input-element {
//    font: 400 11pt Arial !important;
//
//    &::placeholder {
//      font: 400 11pt Arial !important;
//    }
//  }
//}

.detail-component .mat-dialog-container {
  padding: 0 !important;
}

.wrapper {
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.10);
}

.list-filter-toolbar {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

tr.mat-header-row {
  height: 40px !important;
  background-color: rgba(0, 0, 0, .02);
  font-family: Roboto;
}

.modal-header {
  background-color: white;
  width: calc(100% + 48px);
  position: relative;
  left: -24px;
  top: -24px;
  padding: 24px;
  box-sizing: border-box;
}

.modal-body {
  background-color: rgba(150, 150, 150, 0.05);
  width: calc(100% + 48px);
  position: relative;
  left: -24px;
  top: -24px;
  border-top: 1px solid rgba(0, 0, 0, .12);
  padding: 24px 24px 0 24px;
  box-sizing: border-box;
}

.modal-footer {
  background-color: white;
  width: calc(100% + 48px);
  height: fit-content;
  position: relative;
  left: -24px;
  top: 24px;
  padding: 24px 24px 0 24px;
  border-top: 1px solid rgba(0, 0, 0, .12);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  overflow-y: auto;
}

.modal-footer .add-btn {
  margin-left: 10px;
  color: white;
  background-color: #004f9f;
}


ng-select .ng-select-container {
  //margin-top: -6px;
}

ng-select {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
}

//ng-select.ng-invalid.ng-touched .ng-select-container {
//  border-color: #dc3545;
//  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
//}

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-bottom: thin solid rgba(255, 0, 0, 1);
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 0, 0);

  .ng-placeholder {
    color: red !important;
  }
}

.ng-select .ng-select-container {
  line-height: 12pt;
  min-height: 40.5px;
}

.ng-placeholder {
  //color: #2b4154 !important;
  color: rgba(43, 65, 84, 0.61) !important;
}

.ng-arrow {
  color: #2b4154 !important;
}

//.ng-value {
//  background-color: #50b540 !important;
//}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #2b4154 !important;
}

.ng-optgroup.ng-option-selected {
  background: rgba(0, 0, 0, 0.12);
  color: #2b4154 !important;
}

.ng-select-container:after {
  border-color: #2b4154 !important;
}

.ng-select-container.ng-appearance-outline:hover:after {
  border-color: #2b4154 !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background: rgba(0, 0, 0, 0.12);
  color: #2b4154
}

:host ::ng-deep .cdk-overlay-pane {
  overflow: auto;
}

.units-table input {
  padding: 0 0 0 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
