<div class="sc-loader" *ngIf="loaderService.visible && !typeBar">
  <div class="spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>
  <div class="text">{{loaderService.text}}</div>
</div>
<div *ngIf="typeBar" class="progress-bar">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  <div class="title">Duke marrë të dhënat
    <span class="point">.</span>
    <span class="point">.</span>
    <span class="point">.</span>
  </div>
</div>

