<div class="wrapper data-table__radius-container">
  <mat-toolbar class="list-filter-toolbar">
    <mat-toolbar-row>

      <span>Regjistri i Biletave</span>
      <span class="fill-remaining-space"></span>

      <!-- Add Ticket -->
      <div >
        <button mat-stroked-button class="add-btn" *ngxPermissionsOnly="ACTIONS.CAN_ADD" (click)="addSupply()" >
          <mat-icon>add</mat-icon>
          Regjistro Bileten
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar class="list-filter-toolbar">
    <mat-toolbar-row>
      <span class="list-title">Kërko</span>

      <form action="" class="list-filter-form" [formGroup]="filterForm" (ngSubmit)="searchSupply()">
        <div [fxLayout]="'row'" [fxLayout.xs]="'column'" [fxLayoutAlign]="'space-between center'" fxLayoutGap="10px">
          <!-- TicketTypeId -->
          <mat-form-field fxFlex>
            <mat-label>Kodi dhe tipi i biletes</mat-label>
            <input matInput formControlName="ticket_type_id">
          </mat-form-field>


          <button mat-stroked-button [fxFlex]="20" type="submit">
            <mat-icon>search</mat-icon>
            Kërko
          </button>
          <button mat-stroked-button [fxFlex]="22" (click)="clearSupplyFilters()">
            <mat-icon>cached</mat-icon>
            Pastro
          </button>

        </div>
      </form>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="data-table">
    <!-- Table Data -->
    <mat-progress-bar *ngIf="filteredListProgressBar" mode="indeterminate"></mat-progress-bar>
    <table mat-table [dataSource]="dataSource" class="data-table"
           matSort
           matSortActive="code"
           matSortDisableClear
           #sortTickets="matSort"
           matSortDirection="desc">

      <!-- Code Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kodi</th>
        <td mat-cell *matCellDef="let row">
          <a style="cursor: pointer; color: #004f9f" (click)="showDetails(row)">
            {{row.code}}
          </a>
        </td>
      </ng-container>
      <!-- Supplier Column -->
      <ng-container matColumnDef="inbound">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Aeroporti hyrës</th>
        <td mat-cell *matCellDef="let row">{{row.inbound}}</td>
      </ng-container>

      <ng-container matColumnDef="outbound">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Aeroporti dalës</th>
        <td mat-cell *matCellDef="let row">{{row.outbound}}</td>
      </ng-container>

      <!-- HasVat Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Çmimi</th>
        <td mat-cell *matCellDef="let row">{{row.price}}
        </td>
      </ng-container>
      <!-- Shop Column -->
      <ng-container matColumnDef="ticket_type_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kodi-lloji i biletës</th>
        <td mat-cell *matCellDef="let row">{{row.ticket_type_id}}</td>
      </ng-container>

      <!-- Date registered Column -->
      <ng-container matColumnDef="from_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data e nisjes</th>
        <td mat-cell *matCellDef="let row">{{row.from_date | date: 'dd/MM/yyyy'}}</td>
      </ng-container>


      <!-- Date registered Column -->
      <ng-container matColumnDef="to_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data e ardhjes</th>
        <td mat-cell *matCellDef="let row">{{row.to_date | date: 'dd/MM/yyyy'}}</td>
      </ng-container>



      <!-- Serial Number Column -->
      <ng-container matColumnDef="seat_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nr. i vëndit për tu ulur</th>
        <td mat-cell *matCellDef="let row">{{row.seat_number}}</td>
      </ng-container>


      <!-- Update Column -->
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef width="80px" style="text-align: center"> Përditëso</th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          <button mat-icon-button class="update-btn-table" *ngxPermissionsOnly="ACTIONS.CAN_CHANGE" (click)="updateSupply(element.id)">
            <mat-icon class="update">edit</mat-icon>
          </button>
        </td>
      </ng-container>


      <!-- Delete Column -->
      <ng-container matColumnDef="delete" >
        <th mat-header-cell *matHeaderCellDef width="80px" style="text-align: center"> Fshi</th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          <button mat-icon-button class="delete-btn-table" *ngxPermissionsOnly="ACTIONS.CAN_DELETE" (click)="deleteSupply(element.id)">
            <mat-icon class="delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="details" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="resultsLength" [pageSize]="pageSize" #paginatorTickets></mat-paginator>
  </div>
</div>
